body {
	/*background: #0A0A0A;*/
  background: #dbe1e7;
	color:white;
  /*margin: -5%;*/
  padding: 0 !important;
}

a {
	text-decoration: none;
	color:rgba(0, 0, 0, 0.3);

}

a:hover {
	color:black;
}

h1 {
	font-size: 70px;
  font-weight:bolder;
  color: #0A0A0A;
	padding-left:5%;
	padding-top:0%;
}

h1:after
{
    content:' ';
    display:block;
    border:1px solid black;
}

h3 {
	font-family: sans-serif;
	font-size: 15px;
  font-weight: lighter;
  color: #0A0A0A;
	padding-left:5%;
	padding-top:0%;
  padding-bottom:0%;
}

.header {
	position:relative;
  width:90%;
	padding-top:0%;
	padding-left:0%;
}

.section-1 {
	font: 10px sans-serif;
	position:relative;
	padding-top:0%;
	padding-left:5%;
}

.chosen-container, #country-chosen, 
.chosen-container-multi {
  background-color: #ddd;
} 

.axisBottom line {
  stroke: #0A0A0A;
}

.axisBottom path {
  stroke: #0A0A0A;
}

.axisBottom text {
  fill: #0A0A0A;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size:10px;
  font-family:sans-serif;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-family: sans-serif;
  font-size: 5px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.rect:hover {
  opacity:0.5; 
}

.legend-text {
  /*fill: #ddd;*/
  fill: #0A0A0A;
  font-weight: lighter;
}

#graph2 {
  position: relative;
  margin-left: 40%;
  margin-top: -40%;
}

.threat-rect {
  stroke-width: 1;
  stroke: white;
}



